<!DOCTYPE html>
<html lang="ko">
  <head>
    <title>CAU CSE NOTICE</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="rgb(33, 85, 164)" />

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

    <script>
      function showText() {
        $(".personalInfoText").toggle();
      }
    </script>
  </head>
  <body>
    <div class="container">
      <div id="jumbo" class="jumbotron text-center" style="color: rgb(33, 85, 164); background: rgb(230, 230, 230)">
	<h1>중앙대학교</h1>
	<h1>소프트웨어대학 알림이</h1>
        <hr />
        <p>
          <a href="https://zeropage.org/">ZeroPage</a>
          김정민 강영빈 송정우 양운천
          <br />
          Email: <a href="mailto:minn951120@naver.com">minn951120@naver.com</a>
        </p>
      </div>

      <div class="alert alert-warning text-center">
        <strong>"구독"</strong>
        버튼을 누르시면
        <a href="javascript:showText()">개인정보 수집 및 이용 동의</a>를
        읽고 동의하신 것으로 취급됩니다.
      </div>
      <div class="alert alert-info text-center personalInfoText" style="display: none">
        <strong>개인정보 수집 및 이용에 대한 안내</strong>
	<hr />
	<p><b>1. 목적:</b> 개인 식별, 메일 전송</p>
	<p><b>2. 항목:</b> 이메일 주소</p>
	<p><b>3. 보유 기간:</b> 구독 취소 시까지</p>
      </div>

      <form action='/getEmail' method="post">
	<div class="input-group">
          <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
          <input type="email" class="form-control" name="email" placeholder="이메일 주소">
	  <div class="input-group-btn">
            <button class="btn btn-primary" type="submit">구독</button>
          </div>
        </div>
      </form>
    </div>
  </body>
</html>
